WORKFLOW DAY6
{
  "name": "Suivi de Projet Client Automatique — Claude + Gmail + Sheets (by Anis Khelifi)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }]
        }
      },
      "id": "trigger-schedule",
      "name": "Chaque lundi à 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Projets", "mode": "name" },
        "options": {}
      },
      "id": "read-projects",
      "name": "Lire Projets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [420, 400],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst rows = $input.all();\nconst actifs = [];\n\nfor (const row of rows) {\n  const d = row.json;\n  if (!d.Email || d.Statut !== 'en cours') continue;\n\n  const echeance = d['Échéance'] ? new Date(d['Échéance']) : null;\n  const enRetard = echeance ? echeance < today : false;\n  const joursRestants = echeance ? Math.ceil((echeance - today) / (1000 * 60 * 60 * 24)) : null;\n\n  actifs.push({ json: { ...d, enRetard, joursRestants, rowIndex: d.__rowIndex } });\n}\n\nif (actifs.length === 0) return [{ json: { skip: true, message: 'Aucun projet actif à suivre cette semaine.' } }];\nreturn actifs;"
      },
      "id": "filter-active-projects",
      "name": "Filtrer projets actifs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "operator": { "type": "boolean", "operation": "false" },
              "leftValue": "={{ $json.skip }}"
            }
          ]
        }
      },
      "id": "if-has-projects",
      "name": "Y a-t-il des projets actifs ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_ANTHROPIC_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\"Tu es Anis Khelifi, développeur full-stack freelance. Rédige un email hebdomadaire de suivi de projet pour ce client, rassurant et professionnel, qui résume l'avancement et annonce la suite. Dans la langue du client si connue, sinon en français. Réponds UNIQUEMENT avec le corps de l'email en texte brut, pas d'objet, signe 'Anis'.\\n\\nProjet:\\n- Client: \" + ($json.Client || 'Client') + \"\\n- Entreprise: \" + ($json.Entreprise || '') + \"\\n- Projet: \" + ($json.Projet || 'non précisé') + \"\\n- Avancement: \" + ($json['Avancement %'] || '0') + \"%\\n- Échéance: \" + ($json['Échéance'] || 'non définie') + \"\\n- Jours restants: \" + ($json.joursRestants ?? 'inconnu') + \"\\n- En retard: \" + ($json.enRetard ? 'oui' : 'non') ) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-update",
      "name": "Claude: Rédiger le suivi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const project = $('Filtrer projets actifs').first().json;\nconst aiRaw = $input.first().json;\nconst body = aiRaw.content?.[0]?.text || '';\nreturn [{ json: {\n  ...project,\n  emailBody: body,\n  subject: `Point d'avancement — ${project.Projet || 'votre projet'}`,\n  sentAt: new Date().toISOString().split('T')[0]\n} }];"
      },
      "id": "build-update-email",
      "name": "Construire l'email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "send-update-email",
      "name": "Gmail: Envoyer le suivi",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1520, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Projets", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dernière maj": "={{ $json.sentAt }}"
          },
          "matchingColumns": ["Email"]
        },
        "options": {}
      },
      "id": "update-sheet",
      "name": "Mettre à jour le Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1740, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "operator": { "type": "boolean", "operation": "true" },
              "leftValue": "={{ $json.enRetard }}"
            }
          ]
        }
      },
      "id": "if-late",
      "name": "Projet en retard ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ PROJET EN RETARD\n\n👤 {{ $json.Client }} — {{ $json.Entreprise || 'N/A' }}\n📁 {{ $json.Projet }}\n📊 Avancement : {{ $json['Avancement %'] }}%\n📅 Échéance dépassée : {{ $json['Échéance'] }}\n\n👉 Email de suivi envoyé, mais pense à prioriser ce projet.",
        "additionalFields": {}
      },
      "id": "telegram-late-alert",
      "name": "Telegram: Alerte retard",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2180, 240]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Suivi envoyé\n\n👤 {{ $json.Client }} — {{ $json.Entreprise || 'N/A' }}\n📁 {{ $json.Projet }}\n📊 Avancement : {{ $json['Avancement %'] }}% — dans les temps",
        "additionalFields": {}
      },
      "id": "telegram-ok",
      "name": "Telegram: Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2180, 380]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📭 Aucun projet actif à suivre cette semaine.",
        "additionalFields": {}
      },
      "id": "telegram-skip",
      "name": "Telegram: Rien à faire",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1080, 520]
    },
    {
      "parameters": {
        "content": "## Suivi de Projet Client Automatique\n### by Anis Khelifi\n\nChaque lundi à 9h :\n1. Lit les projets 'en cours' depuis Sheets\n2. Claude rédige un point d'avancement personnalisé par client\n3. Gmail envoie le point hebdo\n4. Sheet mis à jour (date dernière maj)\n5. Si échéance dépassée → alerte Telegram prioritaire\n6. Sinon → confirmation Telegram simple\n\nColonnes attendues dans l'onglet 'Projets' :\nClient, Entreprise, Email, Projet, Statut,\nÉchéance, Avancement %, Dernière maj",
        "width": 420,
        "height": 280,
        "color": 7
      },
      "id": "note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [120, 100]
    }
  ],
  "connections": {
    "Chaque lundi à 9h": { "main": [[{ "node": "Lire Projets", "type": "main", "index": 0 }]] },
    "Lire Projets": { "main": [[{ "node": "Filtrer projets actifs", "type": "main", "index": 0 }]] },
    "Filtrer projets actifs": { "main": [[{ "node": "Y a-t-il des projets actifs ?", "type": "main", "index": 0 }]] },
    "Y a-t-il des projets actifs ?": {
      "main": [
        [{ "node": "Claude: Rédiger le suivi", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Rien à faire", "type": "main", "index": 0 }]
      ]
    },
    "Claude: Rédiger le suivi": { "main": [[{ "node": "Construire l'email", "type": "main", "index": 0 }]] },
    "Construire l'email": { "main": [[{ "node": "Gmail: Envoyer le suivi", "type": "main", "index": 0 }]] },
    "Gmail: Envoyer le suivi": { "main": [[{ "node": "Mettre à jour le Sheet", "type": "main", "index": 0 }]] },
    "Mettre à jour le Sheet": { "main": [[{ "node": "Projet en retard ?", "type": "main", "index": 0 }]] },
    "Projet en retard ?": {
      "main": [
        [{ "node": "Telegram: Alerte retard", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Confirmation", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "meta": { "instanceId": "suivi-projet-anis-v1" }
}
